<p id="notice"><%= notice %></p>

<h1>Events</h1>



<br>

<%= link_to 'New Event', new_event_path %>


<table class="table table-striped">
  <tr>
    <th>Nom de l'événement</th>
    <th>discipline</th>
    <th>Date de l'événement</th>
    <th>ville de l'événement</th>
    <th>departement de l'événement</th>
    <th>Description de l'événement</th>
    <th>Créé par</th>
    <th>Nombre de participants</th>
    <th>prix de l'événement</th>
    <th>lien vers l'evenement</th>

  </tr>
 
  <% @events.each do |event|%> 
    <tr>
      <td><%= event.name %></td>
      <td><%= event.discipline %></td>
      <td><%= event.date %></td>
      <td><%= event.ville %></td>
      <td><%= event.departement %></td>           
      <td><%= event.description %></td>

      <td><%= event.eleattendees.count %></td>
      <td><%= event.proinvitatees.count %></td>
      <td><%= event.prix %></td>
      <td><%= link_to "Voir l'événement", event_path(event) %></td>

    </tr>
  <% end %>

</table>