<p id="notice"><%= notice %></p>

<p class="text-center">  <%= link_to "Rejoindre l'événement", { :controller => "events", :action => "subscribe"}, class: "btn btn-success" %> </p>


<h1><%= @event.name %></h1></br></br>

<h2>Gérant événement</h2>
<p><%=@creator.firstname%></p>
<p><%=@creator.email%></p></br></br>
<h1>professeur</h1>
<% if @event.professeur == "present" %>
    <p>===============</p>
    <p><%=@professor.firstname%></p></br></br>
<% else %>
<p>Pas encore de prof, invitez-en ci-dessous</p>
<% end %> </br></br>




<h3>Les professeurs invités</h3>
<table class="table table-striped">
    <tr>
        <th>Nom</th>
        <th>Email</th>
    </tr>
<% @event.proinvitatees.each do |invitatee| %> 
    <tr>
        <td> <%= invitatee.firstname %> </td>
        <td> <%= invitatee.email %> </td>
    </tr>
<% end %> 
</table></br>

<h3>Le professeur participant</h3>
<table class="table table-striped">
    <tr>
        <th>Nom</th>
        <th>Email</th>
    </tr>
<% @event.proattendees.each do |attendee| %> 
    <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
    </tr>
<% end %> 
</table></br>
<% if signed_in? %>


        <h3> Inviter des prof </h3>

        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>


            <% @allpro.each do |pro| %> 
                <% unless @event.proattendees.include? pro %>
                <tr>
                    <td><%= pro.firstname %></td>
                    <td><%= pro.email %></td>
                    
                    <td><%= link_to "Inviter ce professeur", { :controller => "events", :action => "addprotoinvitation", :id => pro.id, :test => @event.id}%></td>
                </tr>
                <% end %>
            <% end %>
        </table>

<% else %>
    <p> Connectez-vous pour ajouter des participants </p>
<% end %></br></br>


<h1>Les élèves</h1>
<h3>Participants </h3>
<table class="table table-striped">
<tr>
    <th>Nom</th>
    <th>Email</th>
</tr>
<% @event.eleattendees.each do |attendee| %> 
    <tr>
    <td> <%= attendee.firstname %> </td>
    <td> <%= attendee.email %> </td>

    </tr>
<% end %>
</table> </br></br>

<% if signed_in? %>
 
        <h3> Inviter des élèves </h3>

        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>


            <% @allele.each do |ele| %> 
                <% unless @event.eleattendees.include? ele %>
                <tr>
                    <td><%= ele.firstname %></td>
                    <td><%= ele.email %></td>
                    
                    <td><%= link_to "Inviter cet élève", { :controller => "events", :action => "addeletoinvitation", :id => ele.id, :test => @event.id}%></td>
                </tr>
                <% end %>
            <% end %>
        </table>
<% else %>
        <p> Connectez-vous pour ajouter des participants </p>
<% end %></br></br>


<h3>Invités </h3>
<table class="table table-striped">
<tr>
    <th>Nom</th>
    <th>Email</th>
</tr>
<% @event.eleinvitatees.each do |invitatee| %> 
    <tr>
    <td> <%= invitatee.firstname %> </td>
    <td> <%= invitatee.email %> </td>

    </tr>
<% end %>
</table> </br></br>



#   add_pro à faire (controller, vues, routes,   pareil pour subscribe (vues et routes))





</br></br>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
