<p id="notice"><%= notice %></p>

<h1> <%= @event.name %> </h1>
</br></br>


<% if @event.etat == "open" %>
    <% if signed_in? == false %>
        <p> Connectez-vous pour rejoindre levenement </p>
    <% elsif pro_signed_in? %>
        <% if @event.professor_id == nil %>
            <p class="text-center">  <%= link_to "Rejoindre l'événement", { :controller => "events", :action => "subscribe"}, class: "btn btn-success" %> </p>
        <% elsif @event.professor_id.to_s == current_pro.id.to_s %>
            <p> Vous êtes professeur, deux jours avant l evenement, si le nombre d inscrit est suffisant, validez l event. 
            </br> les élèves recevront un mail et pourront payer puis recevoir leur invitation </p>
            <p> BOUTON VALIDE (renvoie à la fonction closingevent du events_controller (qui met @event.etat == "close")) </p> <p> BOUTON ANNULE </p>
            <p class="text-center">  <%= link_to "Valider l'event", { :controller => "events", :action => "closingevent"}, class: "btn btn-success" %> </p>
        <% else %>
            <p> Le post de prof est occupé par : <%= @event.professor_id.email %> </p>
        <% end %>


    <% elsif @event.asubscribe.to_s.include? current_ele.id.to_s %>
        <p> Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>
    <% elsif @event.asubscribe2.to_s.include? current_ele.id.to_s %>
        <p> Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>
    <% elsif @event.asubscribe3.to_s.include? current_ele.id.to_s %>
        <p> Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>
    <% elsif @event.asubscribe4.to_s.include? current_ele.id.to_s %>
        <p> Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>
    <% elsif @event.asubscribe5.to_s.include? current_ele.id.to_s %>
        <p> Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>
    <% elsif @event.asubscribe6.to_s.include? current_ele.id.to_s %>
        <p> Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>
    <% elsif @event.asubscribe7.to_s.include? current_ele.id.to_s %>
        <p> Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>
    <% elsif @event.asubscribe8.to_s.include? current_ele.id.to_s %>
        <p> Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>
    <% elsif @event.asubscribe9.to_s.include? current_ele.id.to_s %>
        <p> Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>
    <% elsif @event.asubscribe10.to_s.include? current_ele.id.to_s %>
        <p> Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>

    <% elsif ele_signed_in? %>
        <% if @event.etat == "open" %>
            <p class="text-center">  <%= link_to "Rejoindre l'événement", { :controller => "events", :action => "subscribe"}, class: "btn btn-success" %> </p>
        <% else %>
            <p> LINK VERS subscribeandpay </p>
        <% end %>
    <% else %>
    <% end %>

<% elsif @event.etat == "close" %>
    <% if ele_signed_in? %>
        <% if @event.asubscibe.to_s.include? current_ele.id.to_s %>
            <p> BOUTON PAYER renvoie vers la fonction pay (stripe) (qui permet de rentrer le current user dans apayer et de leur envoyer un mail) </p>
        <% elsif @event.asubscibe2.to_s.include? current_ele.id.to_s %>
            <p> BOUTON PAYER renvoie vers la fonction pay (stripe) (qui permet de rentrer le current user dans apayer et de leur envoyer un mail) </p>
        <% elsif @event.asubscibe3.to_s.include? current_ele.id.to_s %>
            <p> BOUTON PAYER renvoie vers la fonction pay (stripe) (qui permet de rentrer le current user dans apayer et de leur envoyer un mail) </p>
        <% elsif @event.asubscibe4.to_s.include? current_ele.id.to_s %>
            <p> BOUTON PAYER renvoie vers la fonction pay (stripe) (qui permet de rentrer le current user dans apayer et de leur envoyer un mail) </p>
        <% elsif @event.asubscibe5.to_s.include? current_ele.id.to_s %>
            <p> BOUTON PAYER renvoie vers la fonction pay (stripe) (qui permet de rentrer le current user dans apayer et de leur envoyer un mail) </p>
        <% elsif @event.asubscibe6.to_s.include? current_ele.id.to_s %>
            <p> BOUTON PAYER renvoie vers la fonction pay (stripe) (qui permet de rentrer le current user dans apayer et de leur envoyer un mail) </p>
        <% elsif @event.asubscibe7.to_s.include? current_ele.id.to_s %>
            <p> BOUTON PAYER renvoie vers la fonction pay (stripe) (qui permet de rentrer le current user dans apayer et de leur envoyer un mail) </p>
        <% elsif @event.asubscibe8.to_s.include? current_ele.id.to_s %>
            <p> BOUTON PAYER renvoie vers la fonction pay (stripe) (qui permet de rentrer le current user dans apayer et de leur envoyer un mail) </p>
        <% elsif @event.asubscibe9.to_s.include? current_ele.id.to_s %>
            <p> BOUTON PAYER renvoie vers la fonction pay (stripe) (qui permet de rentrer le current user dans apayer et de leur envoyer un mail) </p>
        <% elsif @event.asubscibe10.to_s.include? current_ele.id.to_s %>
            <p> BOUTON PAYER renvoie vers la fonction pay (stripe) (qui permet de rentrer le current user dans apayer et de leur envoyer un mail) </p>
        <% elsif @event.asubscibe10 == nil %>
            <p> BOUTON PAYER ET SUBSCRIBE renvoie vers la fonction subscribeandpay (qui cumule subscribe et pay)
        <% else %>
            <p> Cet événement est complet </p>
        <% end %>
    <% else %>
    <% end %>
<% else %>
<% end %>
</br></br>

<h2>Gérant événement</h2>
<p><%=@creator.firstname%></p>
<p><%=@creator.email%></p></br></br>
<h1>professeur</h1>
<% if @event.professeur == "present" %>
    <p>===============</p>
    <p><%=@professor.firstname%></p></br></br>
<% else %>
<p>Pas encore de prof, invitez-en ci-dessous</p>
<% end %> </br></br>




<h3>Les professeurs invités</h3>
<table class="table table-striped">
    <tr>
        <th>Nom</th>
        <th>Email</th>
    </tr>
<% @event.proinvitatees.each do |invitatee| %> 
    <tr>
        <td> <%= invitatee.firstname %> </td>
        <td> <%= invitatee.email %> </td>
    </tr>
<% end %> 
</table></br>


<% if signed_in? %>


        <h3> Inviter des prof </h3>

        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>


            <% @allpro.each do |pro| %> 
                <% unless @event.proinvitatees.include? pro %>
                <tr>
                    <td><%= pro.firstname %></td>
                    <td><%= pro.email %></td>
                    
                    <td><%= link_to "Inviter ce professeur", { :controller => "events", :action => "addprotoinvitation", :pro_id => pro.id, :test => @event.id}%></td>
                </tr>
                <% end %>
            <% end %>
        </table>

<% else %>
    <p> Connectez-vous pour ajouter des participants </p>
<% end %></br></br>


<h1>Les élèves</h1>

<% if @event.etat == "open" %>

    <h3>Participants </h3>
    <table class="table table-striped">
    <tr>
        <th>Nom</th>
        <th>Email</th>
    </tr>
    <% @event.eleattendees.each do |attendee| %> 
        <% if @event.asubscribe.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe2.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe3.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe4.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe5.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe6.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe7.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe8.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe9.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe10.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% else %>
        <% end %>
    <% end %>
    </table> </br></br>

<% else %>

    <h3>Participants définitifs </h3>
    <table class="table table-striped">
    <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Autorisé à participer?</th>
    </tr>
    <% @event.eleattendees.each do |attendee| %> 

        <% if @event.asubscribe.to_s.include? attendee.id.to_s %>
            <% if @event.apayer.to_s.include? attendee.id.to_s %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> A payé, a son pass </td>
                </tr>
            <% else %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> en attente de paiement </td>
                </tr>
            <% end %>
        
        <% elsif @event.asubscribe2.to_s.include? attendee.id.to_s %>
            <% if @event.apayer2.to_s.include? attendee.id.to_s %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> A payé, a son pass </td>
                </tr>
            <% else %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> en attente de paiement </td>
                </tr>
            <% end %>
        
        <% elsif @event.asubscribe3.to_s.include? attendee.id.to_s %>
            <% if @event.apayer3.to_s.include? attendee.id.to_s %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> A payé, a son pass </td>
                </tr>
            <% else %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> en attente de paiement </td>
                </tr>
            <% end %>
        
        <% elsif @event.asubscribe4.to_s.include? attendee.id.to_s %>
            <% if @event.apayer4.to_s.include? attendee.id.to_s %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> A payé, a son pass </td>
                </tr>
            <% else %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> en attente de paiement </td>
                </tr>
            <% end %>
        
        <% elsif @event.asubscribe5.to_s.include? attendee.id.to_s %>
            <% if @event.apayer5.to_s.include? attendee.id.to_s %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> A payé, a son pass </td>
                </tr>
            <% else %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> en attente de paiement </td>
                </tr>
            <% end %>
        
        <% elsif @event.asubscribe6.to_s.include? attendee.id.to_s %>
            <% if @event.apayer6.to_s.include? attendee.id.to_s %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> A payé, a son pass </td>
                </tr>
            <% else %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> en attente de paiement </td>
                </tr>
            <% end %>
        
        <% elsif @event.asubscribe7.to_s.include? attendee.id.to_s %>
            <% if @event.apayer7.to_s.include? attendee.id.to_s %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> A payé, a son pass </td>
                </tr>
            <% else %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> en attente de paiement </td>
                </tr>
            <% end %>

        <% elsif @event.asubscribe8.to_s.include? attendee.id.to_s %>
            <% if @event.apayer8.to_s.include? attendee.id.to_s %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> A payé, a son pass </td>
                </tr>
            <% else %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> en attente de paiement </td>
                </tr>
            <% end %>
        
        <% elsif @event.asubscribe9.to_s.include? attendee.id.to_s %>
            <% if @event.apayer9.to_s.include? attendee.id.to_s %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> A payé, a son pass </td>
                </tr>
            <% else %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> en attente de paiement </td>
                </tr>
            <% end %>
        
        <% elsif @event.asubscribe10.to_s.include? attendee.id.to_s %>
            <% if @event.apayer10.to_s.include? attendee.id.to_s %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> A payé, a son pass </td>
                </tr>
            <% else %>
                <tr>
                <td> <%= attendee.firstname %> </td>
                <td> <%= attendee.email %> </td>
                <td> en attente de paiement </td>
                </tr>
            <% end %>
        <% else %>
        <% end %>
    <% end %>
    </table> </br></br>

    <h3>Participants en attente de paiement </h3>
    <table class="table table-striped">
    <tr>
        <th>Nom</th>
        <th>Email</th>
    </tr>
    <% @event.eleattendees.each do |attendee| %> 
        <% if @event.asubscribe.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe2.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe3.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe4.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe5.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe6.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe7.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe8.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe9.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% elsif @event.asubscribe10.to_s.include? attendee.id.to_s %> 
        <tr>
        <td> <%= attendee.firstname %> </td>
        <td> <%= attendee.email %> </td>
        </tr>
        <% else %>
        <% end %>
    <% end %>
    </table> </br></br>

<% end %>

<h3>Invités </h3>
<table class="table table-striped">
<tr>
    <th>Nom</th>
    <th>Email</th>
</tr>
<% @event.eleinvitatees.each do |invitatee| %> 
    <% if @event.asubscribe.to_s.include? invitatee.id.to_s %> 
    <% else %>
    <tr>
    <td> <%= invitatee.firstname %> </td>
    <td> <%= invitatee.email %> </td>
    </tr>
    <% end %>
<% end %>
</table> </br></br>


<% if signed_in? %>
 
        <h3> Inviter des élèves </h3>

        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>


            <% @allele.each do |ele| %> 
                <% unless @event.eleattendees.include? ele %>
                <tr>
                    <td><%= ele.firstname %></td>
                    <td><%= ele.email %></td>
                    
                    <td><%= link_to "Inviter cet élève", { :controller => "events", :action => "addeletoinvitation", :ele_id => ele.id, :test => @event.id}%></td>
                </tr>
                <% end %>
            <% end %>
        </table>
<% else %>
        <p> Connectez-vous pour ajouter des participants </p>
<% end %></br></br>



#   add_pro à faire (controller, vues, routes,   pareil pour subscribe (vues et routes))





</br></br>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
