<h1>Eles#show</h1>
<p>Find me in app/views/eles/show.html.erb</p>


<h1>Test, tous les eve auquel<%=@ele.firstname%> est attendee </h1>

<% if !@ele.eleattended_events.empty? %>
    <% @ele.eleattended_events.each do |event| %>
        <table>
        <tr>
            <th>Nom de l evenement</th>
            <th>Descritption de l evenement</th>
            <th>Lien vers l evenement</th>
        </tr>
        <tr>
            <td><%= event.name %></td>
            <td><%= event.description %></td>
            <td><%= link_to 'Voir l event', event_path(event) %></td>
        </tr>
        </table>
    <% end %>
<% else %>
    <p> @ele.firstname n a pour le moment aucune activité </p>
<% end %>


</br></br>


<h1>Les événements que <%=@ele.firstname%>  a créé </h1>

<% if !@ele.created_events.empty? %>
    <% @ele.created_events.each do |event| %>
        <table>
        <tr>
            <th>Nom de l evenement</th>
            <th>Descritption de l evenement</th>
            <th>Lien vers l evenement</th>
        </tr>
        <tr>
            <td><%= event.name %></td>
            <td><%= event.description %></td>
            <td><%= link_to 'Voir l event', event_path(event) %></td>
        </tr>
        </table>
    <% end %>
<% else %>
    <p> <%=@ele.firstname%>  n a pour le moment créer aucun event </p>
<% end %>


</br></br>


<h1>Les événements auxquels <%=@ele.firstname%>  a participé </h1>
<p> ce sera tous les eve auxquels il est invite/attendee et s il est present dans un event.apayerX.to_i.include? @ele.id , affiche le </p></br></br>

<% if !@ele.eleattended_events.empty? %>
    <% @ele.eleattended_events.each do |event| %>
        <table>
        <tr>
            <th>Nom de l evenement</th>
            <th>Descritption de l evenement</th>
            <th>Lien vers l evenement</th>
        </tr>

            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% else %>
                <% end %>
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% else %>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% else %>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% else %>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% else %>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% else %>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% else %>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% else %>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% else %>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% else %>
                <% end %>
            <% else %>
                <p> <%=@ele.firstname%>  n a pour le moment participé à aucun event </p>
            <% end %>
        </table>
    <% end %>
<% else %>
    <p> <%=@ele.firstname%> n a pour le moment aucune activité </p>
<% end %></br></br>


<h1>Les événements auxquels <%=@ele.firstname%>  a subscribe mais n a finalement pas suivi  (LE VILAIN)!! </h1>
# faut absolument rajouter || current_ele.id == @ele.id    dans la toute premiere condition ou bien refaire deux fois
# avec current_ele.id == @ele.id   à la place de    pro_signed_in
<% if pro_signed_in? %>


    <% if !event.asubscribe.nil? %>
        <% if event.asubscribe.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>
    
    <% elsif !event.asubscribe2.nil? %>
        <% if event.asubscribe2.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>

    <% elsif !event.asubscribe3.nil? %>
        <% if event.asubscribe3.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>

    <% elsif !event.asubscribe4.nil? %>
        <% if event.asubscribe4.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>

    <% elsif !event.asubscribe5.nil? %>
        <% if event.asubscribe5.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>
    
    <% elsif !event.asubscribe6.nil? %>
        <% if event.asubscribe6.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>

    <% elsif !event.asubscribe6.nil? %>
        <% if event.asubscribe6.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>

    <% elsif !event.asubscribe7.nil? %>
        <% if event.asubscribe7.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>
    
    <% elsif !event.asubscribe8.nil? %>
        <% if event.asubscribe8.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>
    
    <% elsif !event.asubscribe9.nil? %>
        <% if event.asubscribe9.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>
    
    <% elsif !event.asubscribe10.nil? %>
        <% if event.asubscribe10.include? @ele.id %>
            <% if !event.apayer.nil? %>
                <% if event.apayer.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %> 
            <% elsif !event.apayer2.nil? %>
                <% if event.apayer2.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer3.nil? %>
                <% if event.apayer3.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer4.nil? %>
                <% if event.apayer4.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer5.nil? %>
                <% if event.apayer5.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer6.nil? %>
                <% if event.apayer6.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer7.nil? %>
                <% if event.apayer7.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer8.nil? %>
                <% if event.apayer8.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer9.nil? %>
                <% if event.apayer9.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
            <% elsif !event.apayer10.nil? %>
                <% if event.apayer10.include? @ele.id %>
                <% else %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.description %></td>
                        <td><%= link_to 'Voir l event', event_path(event) %></td>
                    </tr>
                <% end %>
                
            <% else %>
            <% end %>
        <% else %>
        <% end %>

    <% else %>


    <% end %>



<% else %>
    <p> Désolé, ette partie est visible uniquement par le propriétaire, ou par les profs </p>
<% end %>


<p> Ce sera pour les eve auquel il est invité/attended, s<p></br></br>




<h1>Les événements auxquels il a été invité </h1>
<p>ce sera pour tous les events auxquels il a été invité/attended, s il n est dans aucun asubscribe, alors (else) on l affiche </p></br></br>